.card {
    width: 100%;
    max-width: 320px;
    height: 600px; 
    border-radius: 12px;
    background-color: #3C3E44;
    color: #fff;
    overflow: visible;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: box-shadow 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
  }
  
  .image-container {
    height: 320px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../../assets/Fondo.jpg'); /* ruta correcta */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: visible;
  }
  
  
  .image-container img {
    max-height: 100%;
    width: auto;
    object-fit: contain;
    transition: transform 0.3s ease;
  }
  
  .image-container:hover img {
    transform: scale(1.2);
  }
  
  .card-content {
    padding: 15px;
    text-align: left;
    height: 300px;
    font-size: 18px;
  }
  .text-amarillo{
    color: #ffd700;
    margin: 0;
  }
  
  .text-blanco {
    color: #ffffff;
    margin: 0;
  }
  